{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="mt-5 ">
    <div class="text-center">
        <img src="{% static 'core/images/me.jpg' %}" alt="ProfilePic" class="
        img-thumbnail" width="250px" height="150px">
    </div> 
    <div class="mt-5 text-white mx-5 text-justify">
        <h1 class="text-weight-bold st-font ">Hello,</h1>
        <div class="px-4"style="line-height:2rem;">
            <p class="text-indent:200px;">I am <b class="text-warning ">Zamin Ali</b>
                I am an enthusiastic, self-motivated, reliable, responsible and hard working person. 
                I am a mature team worker and adaptable to all challenging situations.
                 I am able to work well both in a team environment as well as using own initiative.
                 I am able to work well under pressure and adhere to strict deadlines.
            </p>
            <p>
                working cuurently at the <b class="text-warning ">Enthusiats</b>
                As you develop and gain experience, your resume will constantly change. Each new project you pursue, 
                or a course you take part in, m
                ay prove to be of value to a potential employer. 
                Therefore, it is important that you can easily edit and expand your résumé . 
                A website built without any programming knowledge is ideal for this - in the website creator. 
                For more information on website builders
            </p>
        </div>
    </div>
    <div class="text-center ">
        <a href="{% url 'contact' %}" class="btn btn-outline-warning my-3 mr-5">Hire Me</a>
    <a href="{% url 'contact' %}" class="btn btn-outline-info my-3">Contact</a>
    </div>
</div>
{% endblock content %}